<div class="about-container">
  <h1>{{ title }}</h1>
  <p>{{ mission }}</p>

  <img [src]="photoUrl" alt="Our Team" width="150">
  <button [disabled]="isButtonDisabled">Disabled demo button</button>

  <div class="likes">
    <button (click)="addLike()">👍 Like</button>
    <span>Likes: {{ likes }}</span>
  </div>

  <button (click)="toggleMessage()">Toggle Message</button>
  <p *ngIf="showMessage">Thank you for visiting our page!</p>

  <div class="greeting">
    <input [(ngModel)]="name" placeholder="Your name">
    <p *ngIf="name">Hello, {{ name }}!</p>
  </div>

  <div class="subscribe">
    <input [(ngModel)]="email" placeholder="your@email.com">
    <button (click)="subscribe()">Subscribe</button>
    <p *ngIf="subscribed">
      Thanks, {{ email }}, we’ll be in touch soon!
    </p>
  </div>
</div>